@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}
:root {
  --apple-com-semantic-heading-2-font-family: "Inter", Helvetica;
  --apple-com-semantic-heading-2-font-weight: 600;
  --apple-com-semantic-heading-2-font-size: 51.84375px;
  --apple-com-semantic-heading-2-letter-spacing: -0.2800000011920929px;
  --apple-com-semantic-heading-2-line-height: 60px;
  --apple-com-semantic-heading-2-font-style: normal;
  --apple-com-semantic-heading-3-font-family: "Inter", Helvetica;
  --apple-com-semantic-heading-3-font-weight: 600;
  --apple-com-semantic-heading-3-font-size: 36.40625px;
  --apple-com-semantic-heading-3-letter-spacing: 0px;
  --apple-com-semantic-heading-3-line-height: 44px;
  --apple-com-semantic-heading-3-font-style: normal;
  --apple-com-semantic-item-font-family: "Inter", Helvetica;
  --apple-com-semantic-item-font-weight: 400;
  --apple-com-semantic-item-font-size: 12px;
  --apple-com-semantic-item-letter-spacing: -0.11999999731779099px;
  --apple-com-semantic-item-line-height: 16px;
  --apple-com-semantic-item-font-style: normal;
  --apple-com-semantic-link-font-family: "Inter", Helvetica;
  --apple-com-semantic-link-font-weight: 400;
  --apple-com-semantic-link-font-size: 16.8671875px;
  --apple-com-semantic-link-letter-spacing: -0.37400001287460327px;
  --apple-com-semantic-link-line-height: 20px;
  --apple-com-semantic-link-font-style: normal;
  --apple-com-semantic-link-underline-font-family: "Inter", Helvetica;
  --apple-com-semantic-link-underline-font-weight: 400;
  --apple-com-semantic-link-underline-font-size: 12px;
  --apple-com-semantic-link-underline-letter-spacing: -0.11999999731779099px;
  --apple-com-semantic-link-underline-line-height: 16px;
  --apple-com-semantic-link-underline-font-style: normal;
  --apple-com-inter-regular-font-family: "Inter", Helvetica;
  --apple-com-inter-regular-font-weight: 400;
  --apple-com-inter-regular-font-size: 16.71875px;
  --apple-com-inter-regular-letter-spacing: 0px;
  --apple-com-inter-regular-line-height: 22px;
  --apple-com-inter-regular-font-style: normal;
  --apple-com-inter-medium-font-family: "Inter", Helvetica;
  --apple-com-inter-medium-font-weight: 500;
  --apple-com-inter-medium-font-size: 14px;
  --apple-com-inter-medium-letter-spacing: 0px;
  --apple-com-inter-medium-line-height: 18px;
  --apple-com-inter-medium-font-style: normal;
  --apple-com-inter-bold-font-family: "Inter", Helvetica;
  --apple-com-inter-bold-font-weight: 700;
  --apple-com-inter-bold-font-size: 16.71875px;
  --apple-com-inter-bold-letter-spacing: 0px;
  --apple-com-inter-bold-line-height: 22px;
  --apple-com-inter-bold-font-style: normal;
}
